<ul class="list-group">
  <li class="list-group-item active" aria-current="true">
    <p>Colors</p>
    <button type="button" routerLink="/color-add" class="btn btn-success router Link title-btn">Ekle</button>
  </li>
  <li class="list-group-item">
    <div *ngFor="let color of colors">
      <button
        class="color-button"
        style="background-color:{{ color.name }}"
        routerLink="car-colorId/{{color.id}}"
      ></button>
      <a href="#" (click)="deleteColor(color.id)"
        ><i class="pi pi-times-circle"></i
      ></a>
    </div>

    <p-toast></p-toast>
  </li>
</ul>
