<h3>Add to Brand</h3>
<form [formGroup]="colorAddForm" (ngSubmit)= "add()">
    <div class="form-group">
        <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="Color Name">
        <div class="alert alert-danger" *ngIf= "colorAddForm.get('name').hasError('required') && colorAddForm.get('name').dirty">Color Name is required.</div>
    </div>
    <p-toast></p-toast>
    <button type="submit" class="btn btn-primary" [disabled]= "colorAddForm.invalid">Add Color</button>
</form>
